.welcome {
    background: #fff;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    border-bottom: 1px solid #eee;

    @media screen and (max-width: 500px) {
        height: auto;
    }

    .container {
        img {
            width: 100%;
        }
    }

    .welcome-div {
        background: url('https://res.cloudinary.com/john-pels/image/upload/v1594568416/DSC_9202.jpg');
        background-position: 60% 40%;
        background-size: cover;
        height: 65vh;
    }


}
